
*.db
*.ipch
*.dat
*.aps
*.log
*.recipe
*.obj
*.pch
*.res
*.tlog
*.pdb
*.exe
*.lastcodeanalysissucceeded
*.iobj
*.ipdb
*.txt
.vs/ElectricField/v16/.suo
.vs/ElectricField/v15/.suo
.vs/ElectricField/v14/.suo
